name: Build & Deploy on self-hosted

on:
  push:
    branches: [ main, dev ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync repo (optional if checkout is enough)
        run: |
          cd /home/upaul/mcp-server
          git fetch --all
          git checkout ${{ github.ref_name }}
          git pull

      - name: Build Docker image
        run: |
          cd /home/upaul/mcp-server
          docker build -t mcp-fastapi .

      - name: Restart container
        run: |
          cd /home/upaul/mcp-server
          docker stop mcp-api || true
          docker rm mcp-api || true
          docker run -d --name mcp-api \
            --env-file .env \
            -p 8000:8000 \
            mcp-fastapi
            
            